*{
    margin: 0 auto;
    text-align: center;
    color:black;
}
body {
    background-color: #87DDF0;
}
h1{
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    width: 600px;
}
#mainBtn{
    color:black;
    background-color: white;
    margin-top: 20px;
}
#mainBtn:hover{
    background-color: lightgray;
    font-size: 110%;
}
#mainBtn:focus{
    background-color: gray;
    font-size: 110%;
}
.question{
    margin-top: 40px;
    width: 750px;
    background-color: white;
    padding: 20px 10px 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: x-large;
}
.container{
    width:750px;
    height:200px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color:#DC42E9;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 10px;
}
.child{
    background-color: white;
    border-radius:10px;
    width: 350px;
    height: 80px;
    text-align: center;
    align-items:center;
    justify-content:center;
    margin: auto;
    font-size: 100%;
}
button:hover{
    background-color: lightgray;
    font-size: 110%;
}
button:focus{
    background-color: gray;
    font-size: 110%;
}
#score{
    background-color: white;
    padding: 15px;
    width: 200px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0;
    right: 0px;
    font-size: x-large;
}