*{
    margin: auto auto;
    text-align: center;
}
body {
    background-color: #87DDF0;
}
h1{
    margin-bottom: 250px;
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
}
#mainBtn{
    color:black;
    background-color: white;
}
